rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /dashboards/{docId} {
      allow read, write: if true;
      match /days/{dayId} {
        allow read: if true;
        allow write: if true;
      }
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
